[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=BlueProximity
Comment=Automatically locks and unlocks your computer via Bluetooth
Name[de]=BlueProximity
Comment[de]=Automatisches Sperren und Entsperren des Computers per Bluetooth
Name[fr]=BlueProximity
Comment[fr]=Verrouille et déverrouille votre ordinateur automatiquement via Bluetooth
Name[es]=BlueProximity
Comment[es]=Bloquea y desbloquea tu equipo automáticamente usando Bluetooth
Name[id]=BlueProximity
Comment[id]=Mengunci dan membuka kunci komputer Anda secara otomatis menggunakan Bluetooth
Name[it]=BlueProximity
Comment[it]=Blocca e sblocca automaticamente il computer tramite Bluetooth
Name[pt]=BlueProximity
Comment[pt]=Bloqueia e desbloqueia seu computador automaticamente via Bluetooth
Name[pt_BR]=BlueProximity
Comment[pt_BR]=Bloqueia e desbloqueia seu computador automaticamente via Bluetooth
Name[ru]=BlueProximity
Comment[ru]=Автоматическая блокировка и разблокировка компьютера по Bluetooth
Exec=/usr/bin/blueproximity
Icon=/usr/share/pixmaps/blueproximity.xpm
Categories=Application;Utility;
Terminal=false
StartupNotify=false
